*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none
}
:root{
    --bg-color:#020312;
    --text-color:#fff;
    --main-color:#eb4a4a;
    --second-color:gray;
    --other-color:#12141c;
    --h1-font:5.2rem;
    --h2-font:3.5rem;
    --p-font:1.1rem;
    --main-transition:all .40s ease;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    right: 0;
    background: transparent;
    padding: 22px 16%;
    border-bottom: 1px solid transparent;
    transition: var(--main-transition);
}
.logo img{
width: 135px;
height: auto;
}
header .navbar{
    display: flex;
}
header .navbar li a{
color: var(--second-color);
font-weight: 600;
font-size: var(--p-font);
padding: 10px 25px;
border-radius:0.5rem;
margin: 0 2px;
transition: var(--main-transition);
}
header .navbar li a:hover{
    color: var(--text-color);
    background-color:var(--main-color);
    }
     header .navbar .active{
        padding: 10px 20px;
        background-color:var(--main-color);
        border-radius: 0.5rem;
        color: var(--text-color);
    }
    header #menu-icon{
font-size: 35px;
color: var(--text-color);
z-index: 10001;
cursor: pointer;
display: none;
}
section{
    padding: 160px 16% 90px;
}
@media (max-width:1325px){
    header{
        padding: 16px 3%;
    }
    header.sticky{
        padding: 8px 3%;
    }
    section{
        padding: 130px 3% 60px;
    }
}
@media (max-width:970px){
    :root{
        --h1-font:4.2rem;
        --h2-font:2.9rem;
        --p-font:1rem;
    }
    section{
        padding: 70px 3% 60px;
    }
    .home{
        height: 85vh;
    }
    .about{
        grid-template-columns:1fr;
    }
    .about-img{
        text-align: center;
    }
    .contact{
        grid-template-columns: 1fr;
    }

}
@media (max-width:830px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background:#12141c;
        transition: var(--main-transition);
    }
    .navbar li a{
        display: block;
        padding: 1rem;
        margin: 1rem;
    }
    :root{
        --h1-font:3.7rem;
        --h2-font:2.7rem;
    }
}
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.home .text h4{
color: var(--main-color);
font-weight: 600;
font-size: 24px;
}
.home .text h1{
font-size: var(--h1-font);
font-weight: bold;
line-height: 1.1;
letter-spacing: 2px;
margin: 20px 0;
}
.home .text  h1 span{
color: var(--main-color);
}
.home .text  h3{
font-weight: 600;
color: var(--text-color);
margin-bottom:3rem;

}
.btn{
color: var(--text-color);
padding: 14px 40px;
background-color: var(--main-color);
border-radius: 0.5rem;
font-weight: 600;
font-size: 17px;
margin-top: 30px;
display: inline-block;
border: 1px solid var(--main-color);
transition: var(--main-transition);
}
.btn:hover{
    background-color:transparent;

    transform: translateY(-5px)  scale(1.2);
}
header.sticky{
    padding: 10px 16%;
    background: var(--bg-color);
    border-bottom: 1px solid #0e1630;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
}
.about-text h2{
font-size: var(--h2-font);
}
.about-text h4{
color: var(--main-color); 
margin: 10px 0;
font-size: 20px;
font-weight: 600;
}
.about-text p{
color: var(--second-color);
line-height: 30px;
margin-bottom: 2rem;
font-size:var(--p-font);
}
.about .about-gri{
display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px , auto));
align-items: center;
gap: 1rem;
margin-bottom: 3rem;
}
.about .about-in h5 {
font-size:22px;
font-weight: 600;

}
.about-img img{
max-width: 460px;
height: auto;
width: 100%;
}
.services .main-text{
    text-align: center;
}
.services .main-text h2{
font-size: var(--h2-font);
margin-bottom: 10px;
}
.services .main-text h4{
color: var(--main-color);
font-size: 24px;
font-weight: 600;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 32px;
    align-items: center;
    text-align: center;
    margin-top: 5rem;

}
.services .services-content .srv{
    background: #12141c;
    padding:45px;
    transition: var(--main-transition);
    border-top: 5px solid transparent;
    cursor: pointer;
    border-radius: 8px;
}
.services .services-content .srv img{
max-width: 100%;
width: 50px;
margin-bottom: 10px;
}
.services .services-content .srv h3{
margin: 15px 0;
font-size: 24px;
font-weight: 600;
transition: var(--main-transition);
}
.services .services-content .srv p{
    font-size: var(--p-font);
    line-height: 30px;
    color: var(--second-color);
}
.services .services-content .srv:hover{
    transform: scale(1.01) translateY(-5px);
    border-top: 5px solid var(--main-color);
}
.services .services-content .srv:hover h3{
    color: var(--main-color);
}
.portfolio .main-text{
    text-align: center;
}
.portfolio .main-text h2{
font-size: var(--h2-font);
margin-bottom: 10px;
}
.portfolio .main-text h4{
color: var(--main-color);
font-size: 24px;
font-weight: 600;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
    gap: 32px;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.portfolio .portfolio-content .box img{
    height: auto;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.box{
    background: #12141c;
    padding: 25px;
    cursor: pointer;
    border-radius: 8px;   
    transition: var(--main-transition);
}
.box:hover{
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
}
.box .main-text{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 1rem;
}
.box .main-text .text h6{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;

}
    .box .main-text .icon i{
        font-size: 21px;
    }
    .portfolio-content .box h3{
        font-weight: 700;
text-align: left;
        font-size: 25px;
    }
 .contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    gap: 3rem;
    align-items: center;
 }   
 .contact .text h2{
    font-size: var(--h2-font);
}
.contact .text h4{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}
.contact .text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact .lists {
    margin-bottom: 3rem;
}
.contact .lists li{
    display: block;
    margin-bottom: 10px;
}
.contact .lists li a{
color: var(--second-color);
display: block;
font-size: var(--p-font);
font-weight: 600;
transition: var(--main-transition);
}
.contact .lists li a:hover{
    color: var(--main-color);
    transform: translateY(-5px) scale(1.01);
}
.contact .icons i{
    height: 40px;
    width: 40px;
    background: var(--other-color);
margin-right: 10px;
    border-radius: 8px;
    color: var(--main-color);
    transition: var(--main-transition);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.contact .icons i:hover{
    background: var(--main-color);
    color: white;
    transform: translateY(-5px) scale(1.01);
}
.contact-form{
position: relative;
}
.contact-form form input,
form textarea{
    border: none;
    width: 100%;
    outline: none;
    background: var(--other-color);
    padding: 18px;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.contact-form form textarea{
    resize: none;
    height: 220px;
}
.contact-form .send{
    background-color: var(--main-color);
    color: var(--text-color);
    width: 190px;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    transition: var(--main-transition);
    cursor: pointer;

}
.last-text{
    text-align: center;
    font-size: 15px;
    color: var(--text-color);
    padding: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}
.top-scroll{
 position: fixed;
 bottom: 2.1rem;
 right: 2.1rem;
}
.top-scroll i{
color: var(--text-color);
background-color: var(--main-color);
font-size: 20px;
border-radius: 0.5rem;
padding: 10px;
}
